//paleta de colores 
$color-fondo: gray;
$color-malevo: #5CBDE8;
$color-fuente: whitesmoke;
$color-bloque:  #333;
$color-fondoingreso: white;
$color-ingresoimput:  #ccc;
$color-conteiner: black;

//media querie

$breakpoint-mobile: 767px;
$breakpoint-tablet: 991px;
