//import de variables

@use "../abstratcs/mixins" as *;
@use "../abstratcs/variables" as *;


/* Header */

header {
  @include contorno(0, 0);
  width: 100%;

  .navbar {
    @include contorno(0, 0);
    width: 100%;

    .container-fluid {
      @include contorno(0, 0);
      width: 100%;
      background-color: $color-conteiner;

      .navbar-brand {
        color: $color-malevo;
      }
    }

    .navbar-nav {
      .nav-link {
        color: $color-fuente;
      }
    }
  }
}

/* Mobile (hasta 767px) */

@media (max-width: $breakpoint-mobile) {
  .navbar-toggler-icon {
    filter: invert(1);
  }

  .navbar-toggler {
    &:focus,
    &:active,
    &:focus-visible {
      outline: none !important;
      box-shadow: none !important;
    }
  }
}

/* Tablet (768px a 991px) */
@media (min-width: 768px) and (max-width: $breakpoint-tablet) {
  .navbar-toggler-icon {
    filter: invert(1);
  }

  .navbar-toggler {
    &:focus,
    &:active,
    &:focus-visible {
      outline: none !important;
      box-shadow: none !important;
    }
  }
}


/* preguntas frecuentes */

.mainpreguntasfrecuentes {
  max-width: 1000px;
  margin: 60px auto;
  padding: 20px;
  box-sizing: border-box;

  img {
    display: block;
    @include dimension(100%, auto);
    max-height: 46vh;
    object-fit: cover;
    border-radius: 8px;
    margin: 0 auto 20px;
    padding: 10px;
    background-color: $color-fondo;
    box-sizing: border-box;
  }
}


/* Mobile: hasta 767px */

@media (max-width: $breakpoint-mobile) {
  .mainpreguntasfrecuentes {
    img {
      max-height: 300px;
      padding: 5px;
    }
  }
}

/* Tablet: 768px a 991px */

@media (min-width: 768px) and (max-width: $breakpoint-tablet) {
  .imagenes {
    @include grid(grid, 1fr 1fr, auto, 40px);
  }

  .bloque.especial {
    grid-column: span 2;
  }

  .imagenportada {
    height: 300px;
  }
}


/* Footer */

.btn-malevo {

    background-color: $color-malevo !important;
    color: $color-conteiner !important;

}

// Media Query Móviles (hasta 767px)
@media (max-width: $breakpoint-mobile) {
  footer form {
    @include flex; 
    gap: 10px;
  }

  footer .col-auto {
    width: 90% !important;
    max-width: 320px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  footer input,
  footer button {
    width: 100% !important;
  }
}

// Media Query Tablets (768px a 991px)
@media (min-width: 768px) and (max-width: $breakpoint-tablet) {
  footer form {
    @include flex; 
    gap: 10px;
  }

  footer .col-auto {
    width: 70% !important;
    max-width: 320px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  footer input,
  footer button {
    width: 100% !important;
  }
}